#root {
  width: 80%;
  max-width: 720px;
  min-width: 560px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: rows;

  .double {
    grid-column: 1 / 4;
    grid-row: auto;
  }
}

.phonebook {
  width: 100%;
}

.phonebook__header {
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.phonebook__form {
  display: flex;
  flex-wrap: wrap;

  & > * {
    align-content: center;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid red;
  }

  span. time {
    display: block;
  }

  .full {
    flex: 1 100%;
  }

  .double {
    flex: 0 0 50%;
  }

  .triple {
    flex: 0 0 33.3333%;
  }
}

.phonebook__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding: 5px;
}

.phonebook__journal {
  padding: 5px;
}
